#!/bin/sh

# === Installing ===
#
#   $ cp -i srvbak.cron.sample /etc/cron.daily/srvbak
#   $ vim /etc/cron.daily/srvbak
#   $ chmod +x /etc/cron.daily/srvbak
#
# --

export SUBJECT="backup of $( hostname ) @ $( date +'%F %T' )"
/path/to/srvbak /path/to/srvbakrc 2>&1 | /path/to/mailer

# --
